<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h1>Comments</h1>
<div id="comments">
  <%= render :partial => @post.comments.reverse %>
</div>

<div>
  <%= form_for([@post, Comment.new], remote: true) do |f| %>
      <%= f.label :body, 'New Comment' %> <br />
      <%= f.text_area :body %> <br />
      <%= f.submit 'Add Comment' %>
  <% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
